<p>book-cards works!</p>
<h2>My Bookshelf</h2>
<ul class="cards">
  <li *ngFor= "let card of cards"
  [class.selected]= "card === selectedCard"
  (click)="onSelect(card)">
  <span class="card" style="width: 18rem;">

      <img src={{card.img}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Genre: {{card.genre}}</li>
        <li class="list-group-item">Have Read: {{card.read}}</li>
        <li class="list-group-item">Own Book: {{card.status}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Book link</a>
        <a href="#" class="card-link">Add Your Thoughts link</a>
      </div>
    </span>

</li>
</ul>